.cardContainer {
  padding-top: 20px;
  text-decoration: none;
  display: flex;
  height: 100px;
  width: 80%;
  border-radius: 5px;
  background-color: #fd7c20;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;
  margin: 10px;
  margin-left: 50px;
  height: 200px;

  .orderNumber{
    background-color: #ffcf4f;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px lightslategray;
    border-radius: 10%;
    border-bottom: 1px transparent black;
    border-right: 1px transparent black;
    padding: 30px;
    height: 45%;
    margin: 10px;
  }
}

.cardContainer:hover{
  background: #ffcf4f;
  .orderNumber{
    background: #fd7c20;
    }
}


.orderDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 170px;
}

.statusDetail{
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}