.totalPriceContainer {
  background-color: #fdbc02;
  width: 90%;
  font-family: inherit;
  font-size: 1.5rem;
  min-width: 400px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;;
  border-radius: 4px;
  padding: 20px;
}

.price{
  font-family: inherit;
  font-size: 1.5rem;
}