.customerOrderSpan,
.customerOrderSpanDelivered,
.deliveredOK,
.deliveredPreparing{
  width: 100px;
  padding: 15px;
  background-color: #fdbc02;
  justify-content: space-between;
  text-align: center;
  padding-inline: 2px;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightslategray;;
}

.customerOrderSpanDelivered{
  background-color: #ff0000;
}

.deliveredOK{
  background-color: #66ff00;
}

.deliveredPreparing{
  background-color: #fdbc02;
}

th{
  background-color: #fdbc02;
  align-items: left;
  justify-content: space-between;
  margin: 2px;
  padding-inline: 2px;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 5px;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;;
}

.customerOrderContainer {
  min-width: 550px;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;;
  border-radius: 5px;
  background-color: #ff8833;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-inline: 20px;
  border-radius: 4px;
}

.customerOrderDetails {
  min-width: 550px;
  font-family: inherit;
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-inline: 20px;
  border-radius: 4px;
}

.deliverdButton:disabled{
  display: none;
}

button:hover{
  background: greenyellow ;
}

button, .deliverdButton{
  justify-content: space-between;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;;
  color: black;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #66ff00;
}