.botaoVerdeEscuro {
  margin-top: 120px;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #66ff00;
  border-radius: 5px;
  border: none;
  bottom: 10px;
  color: black;
  height: 10%;
  right: 10px;
  width: 200px;
}

.botaoVerdeEscuro:hover{
  background-color: greenyellow;
}
