.CustomerCheckoutContainer {
  background-color: #ff8833;
  width: 95%;
  min-width: 550px;
  margin: 30px;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding-bottom: 20px;
}

td{
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 5px;
  display: flex;
  align-items: left;
}

.removeButton{
  color: white;
  background-color: #f50000;
  margin-left: 180px;
}

.CustomerCardContainer{
  background-color: #fdbc02;
  border-bottom: 1px transparent black;
  border-right: 1px transparent black;
  box-shadow: 1px 1px 1px 1px lightslategray;
  padding: 30px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px
}

th{
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
}
